# Creación del CSV
En el siguiente archivo se cargan las bases de datos originales y se realizan las manipulaciones pertinentes para lograr un dataset con todos los datos y organizados por región.

In [25]:
import pandas as pd
import numpy as np

## Importación de las bases de datos
Se cargan las bases de datos (archivos de excel) desde el año 2020 hasta el 2024. Las primeras dos bases tienen una estructura similar, sin embargo la tercera es distinta

In [225]:
datos_20_21 = pd.read_excel('../datos/DATOS HISTÓRICOS 2020_2021_TODAS ESTACIONES.xlsx', sheet_name=None)
datos_22_23 = pd.read_excel('../datos/DATOS HISTÓRICOS 2022_2023_TODAS ESTACIONES.xlsx', sheet_name=None)

In [226]:
datos_23_24 = pd.read_excel('../datos/DATOS HISTÓRICOS 2023_2024_TODAS ESTACIONES_ITESM.xlsx', sheet_name=None)

## Exploracion de las bases
A continuación se muestran comandos para entender la estructura que poseen las bases de datos, desde las hojas que hay hasta la cantidad de filas y columnas que cada una tiene.

In [227]:
print(datos_20_21.keys())

dict_keys(['SURESTE', 'NORESTE', 'CENTRO', 'NOROESTE', 'SUROESTE', 'NOROESTE2', 'NORTE', 'SUROESTE2', 'SURESTE2', 'SURESTE3', 'SUR', 'NORTE2', 'NORESTE2', 'NORESTE3', 'NOROESTE3', 'CATÁLOGO'])

In [228]:
print(datos_22_23.keys())
print(datos_23_24.keys())

dict_keys(['SURESTE', 'NORESTE', 'CENTRO', 'NOROESTE', 'SUROESTE', 'NOROESTE2', 'NORTE', 'SUROESTE2', 'SURESTE2', 'SURESTE3', 'SUR', 'NORTE2', 'NORESTE2', 'NORESTE3', 'NOROESTE3', 'CATÁLOGO'])
dict_keys(['Param_horarios_Estaciones', 'Hoja2'])

In [229]:
print(datos_20_21['SUR'])
print(datos_20_21['NORESTE'].shape)

                     date    CO   NO   NO2   NOX    O3   PM10  PM2.5    PRS  \
0     2020-01-01 00:00:00   NaN  NaN   NaN   NaN   NaN    NaN    NaN    NaN
1     2020-01-01 01:00:00   NaN  NaN   NaN   NaN   NaN   20.0   11.0  708.5
2     2020-01-01 02:00:00   NaN  NaN   NaN   NaN   NaN   24.0    NaN  707.8
3     2020-01-01 03:00:00   NaN  NaN   NaN   NaN   NaN   39.0   31.0  707.3
4     2020-01-01 04:00:00   NaN  NaN   NaN   NaN   NaN   23.0   12.0  707.0
...                   ...   ...  ...   ...   ...   ...    ...    ...    ...
17529 2021-12-31 19:00:00  1.28  2.5  14.9  17.2  78.0   58.0    NaN  704.9
17530 2021-12-31 20:00:00  1.48  2.6  26.2  28.5  54.0   63.0   20.0  705.3
17531 2021-12-31 21:00:00  1.61  2.6  28.3  30.7  39.0   79.0   47.0  705.7
17532 2021-12-31 22:00:00  1.79  2.8  33.5  36.1  19.0   80.0   61.0  706.0
17533 2021-12-31 23:00:00  1.99  3.3  34.4  37.4  11.0  106.0   79.0  706.0

       RAINF    RH  SO2     SR   TOUT  WSR    WDR
0        NaN   NaN  NaN  0.000    NaN  NaN    NaN
1        0.0  95.0  NaN  0.003  10.79  2.3  209.0
2        0.0  95.0  NaN  0.003  10.71  2.2   98.0
3        0.0  95.0  NaN  0.003  10.98  2.2  151.0
4        0.0  95.0  NaN  0.003  11.13  2.2  100.0
...      ...   ...  ...    ...    ...  ...    ...
17529    0.0  39.0  4.2  0.001  26.17  6.9  180.0
17530    0.0  45.0  3.9  0.001  24.31  7.1  118.0
17531    0.0  49.0  3.5  0.001  23.00  4.7  218.0
17532    0.0  57.0  3.2  0.001  20.70  3.0  173.0
17533    0.0  62.0  3.0  0.001  19.82  3.7  285.0

[17534 rows x 16 columns]
(17535, 16)

In [230]:
print(datos_20_21['SUR'].isna().sum())

date         0
CO        9079
NO       10581
NO2      10568
NOX       9122
O3       10208
PM10       715
PM2.5     8461
PRS        203
RAINF      196
RH         208
SO2      11275
SR          66
TOUT       195
WSR        449
WDR       9993
dtype: int64

In [231]:
print(datos_20_21['SURESTE'][20:25])
print("Tamaño: " + str(datos_20_21['SURESTE'].shape))

                  date    CO  NO  NO2  NOX    O3  PM10  PM2.5    PRS  RAINF  \
20 2020-01-01 20:00:00  1.84 NaN  NaN  NaN  21.0   9.0   4.49  731.4   0.06
21 2020-01-01 21:00:00  1.76 NaN  NaN  NaN  28.0  10.0   3.02  731.4   0.07
22 2020-01-01 22:00:00  1.71 NaN  NaN  NaN  32.0  10.0   2.15  731.0   0.06
23 2020-01-01 23:00:00  1.71 NaN  NaN  NaN  30.0   9.0    NaN  730.5   0.00
24 2020-01-02 00:00:00  1.74 NaN  NaN  NaN  27.0  10.0    NaN  729.8   0.00

      RH  SO2     SR   TOUT   WSR  WDR
20  89.0  5.4  0.010  13.84   9.1  NaN
21  89.0  5.3  0.010  13.60  13.3  NaN
22  86.0  5.2  0.010  13.64  14.1  NaN
23  84.0  5.2  0.010  13.66   9.5  NaN
24  83.0  5.3  0.009  13.68  10.1  NaN
Tamaño: (17538, 16)

In [232]:
for key in datos_20_21.keys():
    print(f"{key}: {datos_20_21[key].shape}")

SURESTE: (17538, 16)
NORESTE: (17535, 16)
CENTRO: (17536, 16)
NOROESTE: (17537, 16)
SUROESTE: (17537, 16)
NOROESTE2: (17535, 16)
NORTE: (17536, 16)
SUROESTE2: (17535, 16)
SURESTE2: (17536, 16)
SURESTE3: (17535, 16)
SUR: (17534, 16)
NORTE2: (17535, 16)
NORESTE2: (17535, 16)
NORESTE3: (17542, 16)
NOROESTE3: (0, 1)
CATÁLOGO: (15, 3)

In [233]:
print(datos_20_21['CATÁLOGO'])

            Nombre_Estacion      Clave_Estacion                location
0        Noreste3 Pesqueria           Pesqueria   25.791343,-100.078176
1        Norte2 Universidad         Universidad   25.729787,-100.310028
2      Noroeste San Bernabé         San Bernabé    25.75712,-100.365974
3         Noroeste 2 Garcia              Garcia   25.783331,-100.585833
4           Centro Obispado            Obispado    25.67602,-100.335847
5        Sureste3 Cadereyta           Cadereyta     25.60087,-99.995334
6       Suroeste2 San Pedro           San Pedro    25.66528,-100.412778
7                       Sur  Preparatoria ITESM   25.575383,-100.249371
8       Noreste San Nicolas         San Nicolas    25.74543,-100.255020
9         Noroeste 3 Garcia     Mision San Juan  25.785307, -100.463958
10         Sureste 2 Juarez              Juarez    25.64611,-100.095555
11  Suroeste Santa Catarina      Santa Catarina   25.675356,-100.460037
12           Norte Escobedo            Escobedo    25.80194,-100.343056
13        Noreste 2 Apodaca             Apodaca    25.77722,-100.188055
14           Sureste Tec NL   Tec de Nuevo León    25.66827,-100.249580

In [234]:
print(datos_23_24['Param_horarios_Estaciones'][0:2])

  Unnamed: 0 SURESTE SURESTE.1 SURESTE.2 SURESTE.3 SURESTE.4 SURESTE.5  \
0        NaN      CO        NO       NO2       NOX        O3      PM10
1       date     ppm       ppb       ppb       ppb       ppb     ug/m3

  SURESTE.6 SURESTE.7 SURESTE.8  ... NOROESTE 3.5 NOROESTE 3.6 NOROESTE 3.7  \
0     PM2.5       PRS     RAINF  ...         PM10        PM2.5          PRS
1     ug/m3      mmhg     mm/hr  ...        ug/m3        ug/m3         mmhg

  NOROESTE 3.8 NOROESTE 3.9 NOROESTE 3.10  NOROESTE 3.11 NOROESTE 3.12  \
0        RAINF           RH           SO2             SR          TOUT
1        mm/hr            %           ppb          KW/m2          degC

  NOROESTE 3.13 NOROESTE 3.14
0           WSR           WDR
1          KMPH           DEG

[2 rows x 240 columns]

In [235]:
#print(datos_22_23['SURESTE'][8760])
print(datos_22_23["SURESTE"][datos_22_23["SURESTE"]['date']=='01/01/2023  00:00:00'])

           date    CO    NO   NO2   NOX   O3   PM10  PM2.5    PRS  RAINF  \
8760 2023-01-01  2.37  54.5  32.6  87.1  3.0  110.0   68.0  721.7    0.0

        RH  SO2   SR   TOUT  WSR    WDR
8760  68.0  3.5  0.0  16.39  3.2  257.0

In [236]:
def unir_dataframes_con_clave(dfs_dict):
    """
    Une los dataframes de un diccionario y añade una columna 'region' con la clave del diccionario.
    Args:
        dfs_dict (dict): Diccionario con nombre de región como clave y dataframe como valor.
    Returns:
        pd.DataFrame: Dataframe unido con columna 'region'.
    """
    dfs_con_region = []
    for key in dfs_dict.keys():
        df = dfs_dict[key]
        if isinstance(df, pd.DataFrame) and not df.empty and key != 'CATÁLOGO':
            df_copia = df.copy()
            df_copia['region'] = key
            dfs_con_region.append(df_copia)
    return pd.concat(dfs_con_region, ignore_index=True)

In [237]:
datos_20_21_reg = unir_dataframes_con_clave(datos_20_21)
datos_22_23_reg = unir_dataframes_con_clave(datos_22_23)

In [238]:
datos_20_21_reg.keys()

Index(['date', 'CO', 'NO', 'NO2', 'NOX', 'O3', 'PM10', 'PM2.5', 'PRS', 'RAINF',
       'RH', 'SO2', 'SR', 'TOUT', 'WSR', 'WDR', 'region'],
      dtype='object')

In [239]:
datos_20_21_reg.to_csv('../datos/datos_20_21_reg.csv', index=False)
datos_22_23_reg.to_csv('../datos/datos_22_23_reg.csv', index=False)

In [240]:
datos_23_24_reg = unir_dataframes_con_clave(datos_23_24)

In [241]:
datos_23_24_reg.head(5)

,Unnamed: 0,SURESTE,SURESTE.1,SURESTE.2,SURESTE.3,SURESTE.4,SURESTE.5,SURESTE.6,SURESTE.7,SURESTE.8,...,NOROESTE 3.6,NOROESTE 3.7,NOROESTE 3.8,NOROESTE 3.9,NOROESTE 3.10,NOROESTE 3.11,NOROESTE 3.12,NOROESTE 3.13,NOROESTE 3.14,region
0,NaN,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,...,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,Param_horarios_Estaciones
1,date,ppm,ppb,ppb,ppb,ppb,ug/m3,ug/m3,mmhg,mm/hr,...,ug/m3,mmhg,mm/hr,%,ppb,KW/m2,degC,KMPH,DEG,Param_horarios_Estaciones
2,2023-01-01 00:00:00,2.37,54.5,32.6,87.1,3,110,68,721.7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Param_horarios_Estaciones
3,2023-01-01 01:00:00,2.12,38.7,30.3,68.9,3,116,67.18,721.5,0,...,NaN,707.4,0,59,2.9,0,14.14,65.3,95,Param_horarios_Estaciones
4,2023-01-01 02:00:00,2.05,38.7,28.8,67.4,3,117,75.12,721.1,0,...,NaN,707,0,59,3.2,0,14.11,60.9,90,Param_horarios_Estaciones

In [242]:
import pandas as pd
import re

def tidy_region_file(df_raw: pd.DataFrame) -> pd.DataFrame:
    df = df_raw.copy()

    # --- 1) Encabezados “ocultos” en filas 0 (contaminante) y 1 (unidades) ---
    pollutant_row = df.iloc[0]      # ej. CO, NO, NO2, ...

    # --- 2) Datos reales desde la fila 2 ---
    data = df.iloc[2:].reset_index(drop=True)

    # La primera columna es la fecha
    date_colname = df.columns[0]
    data = data.rename(columns={date_colname: 'date'})

    # Convertir explícitamente a datetime con formato completo
    data['date'] = pd.to_datetime(data['date'], errors='coerce')

    # --- 3) Construir MultiIndex de columnas (region, pollutant) para todas menos 'date' ---
    tuples = []
    for col in df.columns[1:]:
        region = re.split(r'\.', col)[0].strip()  
        pollutant = str(pollutant_row[col]).strip()  
        tuples.append((region, pollutant))

    values = data.iloc[:, 1:].copy()
    values.columns = pd.MultiIndex.from_tuples(tuples, names=['region', 'pollutant'])

    # El índice de values será la fecha
    values.index = data['date']

    # --- 4) Largo: date, region, pollutant, value ---
    long_df = (
        values
        .stack(['region', 'pollutant'], future_stack=True)
        .rename('value')
        .reset_index()
        .rename(columns={'level_0': 'date'})
    )

    # Forzar a string con formato completo
    long_df['date'] = long_df['date'].dt.strftime("%Y-%m-%d %H:%M:%S")

    # --- 5) Ancho final ---
    wide = (
        long_df
        .pivot_table(
            index=['date', 'region'],
            columns='pollutant',
            values='value',
            aggfunc='first'
        )
        .reset_index()
    )

    return wide

# --- Uso ---
# df_crudo = datos_23_24_reg    # tu dataframe de la segunda imagen
df_limpio = tidy_region_file(datos_23_24_reg)
df_limpio.drop(columns=['Param_horarios_Estaciones','WDV'], inplace=True)
df_limpio.keys()

Index(['date', 'region', 'CO', 'NO', 'NO2', 'NOX', 'O3', 'PM10', 'PM2.5',
       'PRS', 'RAINF', 'RH', 'SO2', 'SR', 'TOUT', 'WDR', 'WSR'],
      dtype='object', name='pollutant')

In [243]:
df_limpio.shape

(220343, 17)

In [244]:
df_limpio.head(10)

pollutant,date,region,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WDR,WSR
0,2023-01-01 00:00:00,CENTRO,1.67,4.1,30.3,34.5,9,118,94.12,718.4,0,45,3.3,0,17.65,NaN,4.9
1,2023-01-01 00:00:00,NORESTE,3.4,30.4,43,73.4,7,222,NaN,718.4,0,61,3.8,0,19.01,NaN,4.1
2,2023-01-01 00:00:00,NORESTE 3,0.832,12.7,14.9,26.4,5.9,73,NaN,729,0,77,2.7,0,14.4,305,0.5
3,2023-01-01 00:00:00,NORESTE2,2.12,10.2,34.1,44.3,12,93,67,714.1,0,57,3.1,0,20.21,NaN,14
4,2023-01-01 00:00:00,NOROESTE,4.37,60.5,46.8,107.3,5,426,421,711.8,0,58,5.6,0,18.37,NaN,5.5
5,2023-01-01 00:00:00,NOROESTE 2,2.07,31.6,40.6,72,7,398,221.6,700.3,0,53,2.1,NaN,15.93,NaN,4.6
6,2023-01-01 00:00:00,NORTE,7.46,130.4,43.2,173.5,12,522,369.16,715.7,0,NaN,4.2,0,17.05,NaN,3.8
7,2023-01-01 00:00:00,NORTE 2,4.48,73,49.8,122.9,14,228,188,712.1,0,54,4.5,0,18.16,221,5.5
8,2023-01-01 00:00:00,SUR,2.04,7.2,136.1,143.3,6,56,36,712.1,0,64,2.4,0,15.05,251,1.2
9,2023-01-01 00:00:00,SURESTE,2.37,54.5,32.6,87.1,3,110,68,721.7,0,68,3.5,0,16.39,NaN,3.2

In [245]:
print(df_limpio[0:3].date==df_limpio[0:3].date)

0    True
1    True
2    True
Name: date, dtype: bool

In [246]:
df_limpio.isna().sum()

pollutant
date           0
region         0
CO         24770
NO         22022
NO2        20238
NOX        20011
O3         22929
PM10       19827
PM2.5      71905
PRS        17306
RAINF      15794
RH         32426
SO2        24405
SR         20192
TOUT       17025
WDR       125043
WSR        18472
dtype: int64

In [247]:
df_limpio[df_limpio['date'] == '2023'].count()

pollutant
date      0
region    0
CO        0
NO        0
NO2       0
NOX       0
O3        0
PM10      0
PM2.5     0
PRS       0
RAINF     0
RH        0
SO2       0
SR        0
TOUT      0
WDR       0
WSR       0
dtype: int64

In [248]:
datos_20_23 = pd.concat([datos_20_21_reg, datos_22_23_reg],ignore_index=True)

In [249]:
datos_20_23.head(10)

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,region
0,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,66.0,54.23,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,SURESTE
1,2020-01-01 01:00:00,2.11,NaN,NaN,NaN,19.0,57.0,NaN,735.7,0.00,96.0,5.4,0.010,11.20,8.1,NaN,SURESTE
2,2020-01-01 02:00:00,2.06,NaN,NaN,NaN,19.0,68.0,53.84,734.8,0.00,96.0,5.5,0.010,11.26,5.5,NaN,SURESTE
3,2020-01-01 03:00:00,1.96,NaN,NaN,NaN,19.0,68.0,36.47,734.2,0.00,96.0,5.4,0.010,11.35,3.8,NaN,SURESTE
4,2020-01-01 04:00:00,1.98,NaN,NaN,NaN,16.0,48.0,33.59,733.9,0.00,96.0,5.5,0.010,11.47,3.3,NaN,SURESTE
5,2020-01-01 05:00:00,2.06,NaN,NaN,NaN,13.0,42.0,33.42,733.8,0.02,96.0,5.4,0.010,11.69,3.5,NaN,SURESTE
6,2020-01-01 06:00:00,1.94,NaN,NaN,NaN,15.0,38.0,20.20,733.8,0.10,96.0,5.4,0.010,11.71,2.9,NaN,SURESTE
7,2020-01-01 07:00:00,2.06,NaN,NaN,NaN,10.0,33.0,23.84,733.6,0.06,96.0,NaN,0.010,11.84,3.8,NaN,SURESTE
8,2020-01-01 08:00:00,1.94,NaN,NaN,NaN,12.0,36.0,15.65,733.6,0.02,NaN,NaN,0.012,11.89,3.0,NaN,SURESTE
9,2020-01-01 09:00:00,2.03,NaN,NaN,NaN,7.0,21.0,NaN,734.3,0.04,NaN,NaN,0.021,12.29,11.2,NaN,SURESTE

In [250]:
datos_20_23.keys()

Index(['date', 'CO', 'NO', 'NO2', 'NOX', 'O3', 'PM10', 'PM2.5', 'PRS', 'RAINF',
       'RH', 'SO2', 'SR', 'TOUT', 'WSR', 'WDR', 'region'],
      dtype='object')

In [251]:
datos_20_23.shape

(451311, 17)

In [252]:
datos_20_23.isna().sum()

date           0
CO         74384
NO        103824
NO2       110538
NOX       106289
O3         98622
PM10       28446
PM2.5     100746
PRS        32755
RAINF      32897
RH         48525
SO2        95640
SR         17493
TOUT       31153
WSR        49736
WDR        61404
region         0
dtype: int64

In [253]:
datos_20_23.describe()

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR
count,451311,376927.000000,347487.000000,340773.000000,345022.000000,352689.000000,422865.000000,350565.000000,418556.000000,418414.000000,402786.000000,355671.000000,433818.000000,420158.000000,401575.000000,389907.00000
mean,2021-10-31 22:31:34.408955136,1.392395,11.885514,14.009903,25.673592,26.393244,58.566894,20.884235,715.329636,0.019601,56.603066,5.305308,-0.350220,23.095860,8.622833,133.96606
min,2020-01-01 00:00:00,-0.130000,0.300000,-9999.000000,0.500000,0.700000,2.000000,-9999.000000,0.000000,0.000000,-9999.000000,0.000000,-9999.000000,-9999.000000,0.100000,-9999.00000
25%,2020-12-02 01:00:00,0.760000,3.000000,6.100000,10.400000,13.000000,34.690000,11.000000,709.500000,0.000000,41.000000,2.900000,0.000000,18.680000,4.100000,73.00000
50%,2021-11-02 22:00:00,1.300000,4.900000,10.700000,16.600000,23.000000,50.000000,17.510000,714.400000,0.000000,58.000000,4.100000,0.009000,23.850000,7.500000,112.00000
75%,2022-10-04 17:00:00,1.860000,10.400000,18.600000,30.000000,36.000000,72.000000,27.000000,721.900000,0.000000,74.000000,6.100000,0.257000,28.200000,11.700000,166.00000
max,2023-08-17 23:00:00,32.000000,945.100000,188.600000,971.800000,265.000000,1001.000000,442.000000,747.600000,360.000000,714.200000,295.100000,501.000000,112.390000,227.100000,360.00000
std,NaN,0.826929,22.740900,20.796654,29.103255,18.302013,39.633871,22.482419,9.695845,1.251520,30.659366,4.888656,71.209496,17.254088,7.190409,96.26333

In [254]:
datos_20_23.shape

(451311, 17)

In [255]:
datos_20_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451311 entries, 0 to 451310
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    451311 non-null  datetime64[ns]
 1   CO      376927 non-null  float64
 2   NO      347487 non-null  float64
 3   NO2     340773 non-null  float64
 4   NOX     345022 non-null  float64
 5   O3      352689 non-null  float64
 6   PM10    422865 non-null  float64
 7   PM2.5   350565 non-null  float64
 8   PRS     418556 non-null  float64
 9   RAINF   418414 non-null  float64
 10  RH      402786 non-null  float64
 11  SO2     355671 non-null  float64
 12  SR      433818 non-null  float64
 13  TOUT    420158 non-null  float64
 14  WSR     401575 non-null  float64
 15  WDR     389907 non-null  float64
 16  region  451311 non-null  object
dtypes: datetime64[ns](1), float64(15), object(1)
memory usage: 58.5+ MB

In [256]:
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220343 entries, 0 to 220342
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    220343 non-null  object
 1   region  220343 non-null  object
 2   CO      195573 non-null  object
 3   NO      198321 non-null  object
 4   NO2     200105 non-null  object
 5   NOX     200332 non-null  object
 6   O3      197414 non-null  object
 7   PM10    200516 non-null  object
 8   PM2.5   148438 non-null  object
 9   PRS     203037 non-null  object
 10  RAINF   204549 non-null  object
 11  RH      187917 non-null  object
 12  SO2     195938 non-null  object
 13  SR      200151 non-null  object
 14  TOUT    203318 non-null  object
 15  WDR     95300 non-null   object
 16  WSR     201871 non-null  object
dtypes: object(17)
memory usage: 28.6+ MB

In [257]:
cols_to_float = [
    "CO", "NO", "NO2", "NOX", "O3", "PM10", "PM2.5",
    "PRS", "RAINF", "RH", "SO2", "SR", "TOUT", "WDR", "WSR"
]

# Convertir en bloque
df_limpio[cols_to_float] = df_limpio[cols_to_float].apply(
    lambda col: pd.to_numeric(col, errors="coerce")
)

In [258]:
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220343 entries, 0 to 220342
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    220343 non-null  object
 1   region  220343 non-null  object
 2   CO      195573 non-null  float64
 3   NO      198321 non-null  float64
 4   NO2     200105 non-null  float64
 5   NOX     200332 non-null  float64
 6   O3      197414 non-null  float64
 7   PM10    200516 non-null  float64
 8   PM2.5   148438 non-null  float64
 9   PRS     203037 non-null  float64
 10  RAINF   204549 non-null  float64
 11  RH      187917 non-null  float64
 12  SO2     195938 non-null  float64
 13  SR      200151 non-null  float64
 14  TOUT    203318 non-null  float64
 15  WDR     95300 non-null   float64
 16  WSR     201871 non-null  float64
dtypes: float64(15), object(2)
memory usage: 28.6+ MB

In [259]:
datos_24 = pd.read_excel('../datos/BD 2024.xlsx',sheet_name=None)

In [260]:
datos_24.keys()

dict_keys(['SE', 'CE', 'SO', 'NE2', 'SE2', 'SE3', 'NE', 'NO', 'NO2', 'NTE', 'NTE2', 'SO2', 'SUR', 'NO3', 'NE3'])

In [261]:
datos_24_reg = unir_dataframes_con_clave(datos_24)
datos_24_reg.head(10)

,Fecha y hora,CO (ppm),NO (ppb),NO2 (ppb),NOX (ppb),O3 (ppb),PM10 (ug/m3),PM2.5 (ug/m3),PRS (mmHg),RAINF (mm/h),RH (%),SO2 (ppb),SR (kW/m2),TOUT (ºC),WSR (km/h),WDR (azimutal),region
0,2024-01-01 00:00:00,2.08,10.5,23.3,33.8,13.0,81.0,60.00,724.5,0.0,58.0,2.9,0.000,14.26,5.8,290.0,SE
1,2024-01-01 01:00:00,2.07,10.5,23.4,33.9,13.0,81.0,60.52,724.5,0.0,58.0,2.9,0.000,14.28,5.9,289.0,SE
2,2024-01-01 02:00:00,2.36,16.9,30.0,46.9,7.0,84.0,NaN,724.6,0.0,61.0,3.2,0.000,13.50,3.7,291.0,SE
3,2024-01-01 03:00:00,2.11,13.6,26.6,40.1,7.0,132.0,64.69,724.7,0.0,62.0,3.2,0.000,13.18,7.1,291.0,SE
4,2024-01-01 04:00:00,1.94,8.5,20.6,29.2,13.0,93.0,44.13,724.7,0.0,53.0,3.2,0.000,14.62,8.4,297.0,SE
5,2024-01-01 05:00:00,1.79,7.4,16.3,23.6,15.0,62.0,28.90,724.7,0.0,55.0,2.9,0.000,13.96,7.6,292.0,SE
6,2024-01-01 06:00:00,1.59,7.4,14.2,21.5,21.0,42.0,16.64,724.7,0.0,42.0,3.2,0.000,16.39,9.7,283.0,SE
7,2024-01-01 07:00:00,1.53,7.0,12.3,19.2,22.0,26.0,12.57,725.4,0.0,43.0,2.9,0.000,15.95,9.6,291.0,SE
8,2024-01-01 08:00:00,1.65,8.4,19.8,28.2,18.0,29.0,17.81,726.2,0.0,48.0,3.7,0.007,15.68,5.8,223.0,SE
9,2024-01-01 09:00:00,1.54,6.1,10.1,16.1,37.0,40.0,15.41,727.2,0.0,43.0,6.2,0.055,18.19,5.2,164.0,SE

In [262]:
datos_24_reg.groupby('region').size()

region
CE      8784
NE      8784
NE2     8782
NE3     8782
NO      8783
NO2     8782
NO3     8784
NTE     8782
NTE2    8782
SE      8784
SE2     8782
SE3     8782
SO      8784
SO2     8782
SUR     8782
dtype: int64

In [263]:
datos_20_23.groupby('region').size()

region
CENTRO       31791
NORESTE      31790
NORESTE2     31790
NORESTE3     31796
NOROESTE     31792
NOROESTE2    31790
NOROESTE3     6237
NORTE        31791
NORTE2       31790
SUR          31788
SURESTE      31793
SURESTE2     31791
SURESTE3     31790
SUROESTE     31792
SUROESTE2    31790
dtype: int64

In [264]:
import re
datos_24_reg['region'] = datos_24_reg['region'].str.strip()
datos_24_reg['region'] = datos_24_reg['region'].replace({
"CE":"CENTRO",
"NE":"NORESTE" ,
"NE2":"NORESTE2",
"NE3":"NORESTE3",
"NO":"NOROESTE",
"NO2":"NOROESTE2",
"NO3":"NOROESTE3",
"NTE":"NORTE" ,
"NTE2":"NORTE2" ,
"SE":"SURESTE" ,
"SE2":"SURESTE2",
"SE3":"SURESTE3",
"SO":"SUROESTE",
"SO2":"SUROESTE2",
"SUR":"SUR",
})
datos_24_reg.columns = datos_24_reg.columns.str.replace(r"\s*\([^)]*\)", "", regex=True)
datos_24_reg = datos_24_reg.rename(columns={"Fecha y hora": "date"})

In [265]:
datos_24_reg.head(10)

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,region
0,2024-01-01 00:00:00,2.08,10.5,23.3,33.8,13.0,81.0,60.00,724.5,0.0,58.0,2.9,0.000,14.26,5.8,290.0,SURESTE
1,2024-01-01 01:00:00,2.07,10.5,23.4,33.9,13.0,81.0,60.52,724.5,0.0,58.0,2.9,0.000,14.28,5.9,289.0,SURESTE
2,2024-01-01 02:00:00,2.36,16.9,30.0,46.9,7.0,84.0,NaN,724.6,0.0,61.0,3.2,0.000,13.50,3.7,291.0,SURESTE
3,2024-01-01 03:00:00,2.11,13.6,26.6,40.1,7.0,132.0,64.69,724.7,0.0,62.0,3.2,0.000,13.18,7.1,291.0,SURESTE
4,2024-01-01 04:00:00,1.94,8.5,20.6,29.2,13.0,93.0,44.13,724.7,0.0,53.0,3.2,0.000,14.62,8.4,297.0,SURESTE
5,2024-01-01 05:00:00,1.79,7.4,16.3,23.6,15.0,62.0,28.90,724.7,0.0,55.0,2.9,0.000,13.96,7.6,292.0,SURESTE
6,2024-01-01 06:00:00,1.59,7.4,14.2,21.5,21.0,42.0,16.64,724.7,0.0,42.0,3.2,0.000,16.39,9.7,283.0,SURESTE
7,2024-01-01 07:00:00,1.53,7.0,12.3,19.2,22.0,26.0,12.57,725.4,0.0,43.0,2.9,0.000,15.95,9.6,291.0,SURESTE
8,2024-01-01 08:00:00,1.65,8.4,19.8,28.2,18.0,29.0,17.81,726.2,0.0,48.0,3.7,0.007,15.68,5.8,223.0,SURESTE
9,2024-01-01 09:00:00,1.54,6.1,10.1,16.1,37.0,40.0,15.41,727.2,0.0,43.0,6.2,0.055,18.19,5.2,164.0,SURESTE

In [266]:
datos_24_reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131741 entries, 0 to 131740
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    131741 non-null  datetime64[ns]
 1   CO      120255 non-null  float64
 2   NO      124526 non-null  float64
 3   NO2     125035 non-null  float64
 4   NOX     125485 non-null  float64
 5   O3      125356 non-null  float64
 6   PM10    126788 non-null  float64
 7   PM2.5   90895 non-null   float64
 8   PRS     127751 non-null  float64
 9   RAINF   129257 non-null  float64
 10  RH      117268 non-null  float64
 11  SO2     121037 non-null  float64
 12  SR      124489 non-null  float64
 13  TOUT    120738 non-null  float64
 14  WSR     128736 non-null  float64
 15  WDR     128915 non-null  float64
 16  region  131741 non-null  object
dtypes: datetime64[ns](1), float64(15), object(1)
memory usage: 17.1+ MB

In [267]:
datos_25 = pd.read_excel('../datos/BD 2025.xlsx', sheet_name=None)

for key in datos_25.keys():
    datos_25[key].drop(index=0,inplace=True)
datos_25_reg = unir_dataframes_con_clave(datos_25)
datos_25_reg['region'] = datos_25_reg['region'].map({
"CE":"CENTRO",
"NE":"NORESTE" ,
"NE2":"NORESTE2",
"NE3":"NORESTE3",
"NO":"NOROESTE",
"NO2":"NOROESTE2",
"NO3":"NOROESTE3",
"NTE":"NORTE" ,
"NTE2":"NORTE2" ,
"SE":"SURESTE" ,
"SE2":"SURESTE2",
"SE3":"SURESTE3",
"SO":"SUROESTE",
"SO2":"SUROESTE2",
"SUR":"SUR",
})
datos_25_reg.head(10)

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,region
0,2025-01-01 00:00:00,NaN,NaN,NaN,NaN,36,104.0,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SURESTE
1,2025-01-01 01:00:00,0.18,2.6,7.5,10.1,37,58.0,30.84,725.1,0,66,4.1,0,17.62,10.7,136,SURESTE
2,2025-01-01 02:00:00,0.18,2.8,13.5,16.2,26,79.0,49.92,725.1,0,66,4.3,0,16.58,5.3,255,SURESTE
3,2025-01-01 03:00:00,0.19,3.1,15.1,18.1,22,66.0,45.87,725.1,0,74,4.1,0,15.5,5.3,250,SURESTE
4,2025-01-01 04:00:00,0.18,2.8,12.8,15.6,24,48.0,35.65,725.1,0,76,4,0,15.03,5,181,SURESTE
5,2025-01-01 05:00:00,0.17,2.6,4.8,7.4,33,46.0,31.14,725.5,0,86,3.6,0,14.32,8.7,91,SURESTE
6,2025-01-01 06:00:00,0.17,2.6,4.2,6.8,36,35.0,27.43,725.9,0,87,3.9,0,14.29,7.3,104,SURESTE
7,2025-01-01 07:00:00,0.17,3,9.8,12.7,21,41.0,25.33,726.4,0,85,3.9,0,13.8,2.5,263,SURESTE
8,2025-01-01 08:00:00,0.17,8.1,16.4,24.4,9,42.0,28.42,726.9,0,86,3.9,0.006,13.4,1.9,243,SURESTE
9,2025-01-01 09:00:00,0.16,12,18.3,30.3,9,43.0,31.98,727.5,0,84,3.9,0.031,14.14,2.4,297,SURESTE

In [268]:
datos_24_25 = pd.concat([ datos_24_reg, datos_25_reg], ignore_index=True)
datos_24_25.head(10)

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,region
0,2024-01-01 00:00:00,2.08,10.5,23.3,33.8,13.0,81.0,60.00,724.5,0.0,58.0,2.9,0.0,14.26,5.8,290.0,SURESTE
1,2024-01-01 01:00:00,2.07,10.5,23.4,33.9,13.0,81.0,60.52,724.5,0.0,58.0,2.9,0.0,14.28,5.9,289.0,SURESTE
2,2024-01-01 02:00:00,2.36,16.9,30.0,46.9,7.0,84.0,NaN,724.6,0.0,61.0,3.2,0.0,13.5,3.7,291.0,SURESTE
3,2024-01-01 03:00:00,2.11,13.6,26.6,40.1,7.0,132.0,64.69,724.7,0.0,62.0,3.2,0.0,13.18,7.1,291.0,SURESTE
4,2024-01-01 04:00:00,1.94,8.5,20.6,29.2,13.0,93.0,44.13,724.7,0.0,53.0,3.2,0.0,14.62,8.4,297.0,SURESTE
5,2024-01-01 05:00:00,1.79,7.4,16.3,23.6,15.0,62.0,28.90,724.7,0.0,55.0,2.9,0.0,13.96,7.6,292.0,SURESTE
6,2024-01-01 06:00:00,1.59,7.4,14.2,21.5,21.0,42.0,16.64,724.7,0.0,42.0,3.2,0.0,16.39,9.7,283.0,SURESTE
7,2024-01-01 07:00:00,1.53,7.0,12.3,19.2,22.0,26.0,12.57,725.4,0.0,43.0,2.9,0.0,15.95,9.6,291.0,SURESTE
8,2024-01-01 08:00:00,1.65,8.4,19.8,28.2,18.0,29.0,17.81,726.2,0.0,48.0,3.7,0.007,15.68,5.8,223.0,SURESTE
9,2024-01-01 09:00:00,1.54,6.1,10.1,16.1,37.0,40.0,15.41,727.2,0.0,43.0,6.2,0.055,18.19,5.2,164.0,SURESTE

In [269]:
print(datos_24_25.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196700 entries, 0 to 196699
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    196700 non-null  datetime64[ns]
 1   CO      177011 non-null  object
 2   NO      175653 non-null  object
 3   NO2     177369 non-null  object
 4   NOX     178859 non-null  object
 5   O3      186722 non-null  object
 6   PM10    189225 non-null  float64
 7   PM2.5   131833 non-null  float64
 8   PRS     189394 non-null  object
 9   RAINF   190548 non-null  object
 10  RH      172771 non-null  object
 11  SO2     179066 non-null  object
 12  SR      185560 non-null  object
 13  TOUT    177578 non-null  object
 14  WSR     191115 non-null  object
 15  WDR     191400 non-null  object
 16  region  196700 non-null  object
dtypes: datetime64[ns](1), float64(2), object(14)
memory usage: 25.5+ MB
None

In [270]:
print(datos_20_23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451311 entries, 0 to 451310
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    451311 non-null  datetime64[ns]
 1   CO      376927 non-null  float64
 2   NO      347487 non-null  float64
 3   NO2     340773 non-null  float64
 4   NOX     345022 non-null  float64
 5   O3      352689 non-null  float64
 6   PM10    422865 non-null  float64
 7   PM2.5   350565 non-null  float64
 8   PRS     418556 non-null  float64
 9   RAINF   418414 non-null  float64
 10  RH      402786 non-null  float64
 11  SO2     355671 non-null  float64
 12  SR      433818 non-null  float64
 13  TOUT    420158 non-null  float64
 14  WSR     401575 non-null  float64
 15  WDR     389907 non-null  float64
 16  region  451311 non-null  object
dtypes: datetime64[ns](1), float64(15), object(1)
memory usage: 58.5+ MB
None

In [271]:
datos_20_25 = pd.concat([datos_20_23, datos_24_25], ignore_index=True)
datos_20_25.head(10)

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,region
0,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,66.0,54.23,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,SURESTE
1,2020-01-01 01:00:00,2.11,NaN,NaN,NaN,19.0,57.0,NaN,735.7,0.0,96.0,5.4,0.01,11.2,8.1,NaN,SURESTE
2,2020-01-01 02:00:00,2.06,NaN,NaN,NaN,19.0,68.0,53.84,734.8,0.0,96.0,5.5,0.01,11.26,5.5,NaN,SURESTE
3,2020-01-01 03:00:00,1.96,NaN,NaN,NaN,19.0,68.0,36.47,734.2,0.0,96.0,5.4,0.01,11.35,3.8,NaN,SURESTE
4,2020-01-01 04:00:00,1.98,NaN,NaN,NaN,16.0,48.0,33.59,733.9,0.0,96.0,5.5,0.01,11.47,3.3,NaN,SURESTE
5,2020-01-01 05:00:00,2.06,NaN,NaN,NaN,13.0,42.0,33.42,733.8,0.02,96.0,5.4,0.01,11.69,3.5,NaN,SURESTE
6,2020-01-01 06:00:00,1.94,NaN,NaN,NaN,15.0,38.0,20.20,733.8,0.1,96.0,5.4,0.01,11.71,2.9,NaN,SURESTE
7,2020-01-01 07:00:00,2.06,NaN,NaN,NaN,10.0,33.0,23.84,733.6,0.06,96.0,NaN,0.01,11.84,3.8,NaN,SURESTE
8,2020-01-01 08:00:00,1.94,NaN,NaN,NaN,12.0,36.0,15.65,733.6,0.02,NaN,NaN,0.012,11.89,3.0,NaN,SURESTE
9,2020-01-01 09:00:00,2.03,NaN,NaN,NaN,7.0,21.0,NaN,734.3,0.04,NaN,NaN,0.021,12.29,11.2,NaN,SURESTE

In [272]:
datos_20_25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648011 entries, 0 to 648010
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    648011 non-null  datetime64[ns]
 1   CO      553938 non-null  object
 2   NO      523140 non-null  object
 3   NO2     518142 non-null  object
 4   NOX     523881 non-null  object
 5   O3      539411 non-null  object
 6   PM10    612090 non-null  float64
 7   PM2.5   482398 non-null  float64
 8   PRS     607950 non-null  object
 9   RAINF   608962 non-null  object
 10  RH      575557 non-null  object
 11  SO2     534737 non-null  object
 12  SR      619378 non-null  object
 13  TOUT    597736 non-null  object
 14  WSR     592690 non-null  object
 15  WDR     581307 non-null  object
 16  region  648011 non-null  object
dtypes: datetime64[ns](1), float64(2), object(14)
memory usage: 84.0+ MB

In [273]:
datos_20_25.isna().sum()

date           0
CO         94073
NO        124871
NO2       129869
NOX       124130
O3        108600
PM10       35921
PM2.5     165613
PRS        40061
RAINF      39049
RH         72454
SO2       113274
SR         28633
TOUT       50275
WSR        55321
WDR        66704
region         0
dtype: int64

In [274]:
conteo_por_año = datos_20_25['date'].dt.year.value_counts().sort_index()
print(conteo_por_año)

date
2020    122878
2021    122628
2022    123383
2023     82422
2024    131741
2025     64959
Name: count, dtype: int64

## Conversion a CSV
Después de juntar los datasets del 2020 al 2023 y los del 2024 al 2025, se procede a exportarlos a un archivo csv para su posterior manipulación.

In [224]:
datos_20_25.to_csv('../datos/datos_20_25.csv', index=False)